*{
    font-weight:bolder;
    font-style: italic;
    font-family:serif;
    color: #9C2626 !important; 
   

}
body{
    background-color: gray;
}
.pic{
    background-image: url(./images/circle-clock-png-8.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
   background-attachment: fixed;
   height: 400px;
   
  
   
   
  
   
}